@font-face {
  font-family: NanumSquareR;
  src: url(${goRoot}fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquareL;
  src: url(${goRoot}fonts/NanumSquareL.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url(${goRoot}fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquareEB;
  src: url(${goRoot}fonts/NanumSquareEB.ttf) format("truetype");
}