    /*  header  */
    a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color:black;
		text-decoration: none;
	}
    .main_font{
        font-family: 'Open Sans',sans-serif;
        color: #313131;
        line-height: 18px;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: none;
        text-decoration: none;
        text-align: left;
    }
    .header{
        padding: 36px 0 21px 0;
        background: #fff;
        border-top: 5px #D00B01 solid;
    }
    .nav>li{
        float: left;
    }
    .main_menu{
    }
    .menu_img{
        width: 30%;
        float: left;
    }
    .menu_login{
        display: inline-block;
        width: 70%;
        text-align: right;
    }
    .login-group{
        width: 100%;
    }
    .loginAndOut{
        width:30px;
        float: right;
        margin-left: 10px;
        margin-right: 26px;
    }
    .input_box{
    	height: 30px;
	    width: 50%;
	    float: right;
    }
    .btn{
        padding: 4px 12px;
    }
    .menu_bar{
        width: 354px;
        float: right;
    }
    .menu_bar>ul{
        float: right;
    }
    .menu_login_bar{
        width: 40%;
        float: right;
    }
    .sub-menu{
        width: 113px;
        zoom: 1;
        display: none;
        position: absolute;
        list-style: none;
        background-color: #fff;
        border-top: 4px #d00b01 solid;
        padding: 10px;
    }
    .top-menu:hover .sub-menu{
        display: block;
    }
    .top-menu:hover .space{
        position: absolute;
        padding-top: 22px;
    }
    .space{
        height: 22px;
        position: absolute;
        width: 58px;
    }
    .nav>li{
        margin: 0px 10px;
    }
    .nav>li>a{
        font-family: 'Open Sans',sans-serif;
        color: #313131;
        line-height: 18px;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: none;
        text-decoration: none;
        text-align: left;
    }
    .nav>li>a:hover{
        color: #c5c5c5;
        background: none;
    }
    .breadcrumb{
   	    padding: 3px 0;
	    margin: 0 0 20px 0;
	    list-style: none;
	    background: #d1d1d1;
	    color: #d00b01;
	    font-family: 'Open Sans',sans-serif;
	    font-weight: 400;
	    font-size: 19px;
   	}
   	.breadcrumb div{
   		margin: 0px 4%;
   	}
   	.breadcrumb>div>a,.slash{
   		color: black;
   	}
   	.breadcrumb>div>a:hover{
   		color: black;
   		text-decoration: none;
   	}
    /*  //header  */

    /* main contents */
    .page_container{
        height: 100%;
        width: 80%;
        margin: 0px auto;
    }
	.welcome_line>img {
		width: 100%;
	}
    /* main contents  */

    /* footer */
    .footer{
        background-color: #1e1e1e;
        padding: 23px 0px 26px 0px;
    }
    .footer_L{
        width: 30%;
        float: left;
        margin-left: 15px;
    }
    .copyright{
        color: #444;
        line-height: 16px;
        font-family: Arial;
        font-size: 12px;
    }
    .footer_R{
        width: 563px;
        float: right;
        margin: 16px 0px 0px 0px;
    }
    /* //footer */
@media (max-width: 991px) {
    /* header */
    .menu_img{
        width: 100%;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    .menu_login{
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    .menu_login_bar{
        width: 100%;
    }
    .loginAndOut{
        margin-right: 0px;
    }
    .login-group{
        width: 280px;
        margin: 0px auto;
    }
    .form-control{
        width: 85%;        
    }
    .menu_bar{
        clear: both;
        float: none;
        margin: 0px auto;
    }
    .menu_bar>ul{
        width: 100%;
        float: none;
        margin: 0px auto;
    }
    /* //header */
    /* footer */
    .footer_L{
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    .footer_R{
        width: 100%;
    }
    .copyright{
        text-align: center;
    }
    /* //footer */
} 
@media (max-width: 768px) {
    .menu_bar{
        padding: 0px;
        width: 274px;
    }
    .menu_bar>ul{
        width: 274px;
        float: none;
        margin: 0px auto;
    }
    .menu_bar>ul>li{
         margin: 0px;   
    }
    .footer_R{
        width: 80%;
        margin: 0px auto;
        float: none;
    }
}