    /*  header  */
    .main_font{
        font-family: 'Open Sans',sans-serif;
        color: #313131;
        line-height: 18px;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: none;
        text-decoration: none;
        text-align: left;
    }
    .header{
        padding: 36px 0 21px 0;
        background: #fff;
        border-top: 5px #d00b01 solid;
    }
    .nav>li{
        float: left;
    }
    .main_menu{
    }
    .menu_img{
        width: 300px;
        float: left;
    }
    .menu_login{
        float: right;
        margin-right: 18px;
    }
    .form-control{
        height: 30px;
    }
    .input_box{
    }
    .btn{
        padding: 4px 12px;
    }
    .menu_bar{
        width: 576px;
        float: right
    }
    .menu_bar>ul{
        float: right;
    }
    .sub-menu{
        width: 113px;
        zoom: 1;
        display: none;
        position: absolute;
        list-style: none;
        background-color: #fff;
        border-top: 4px #d00b01 solid;
        padding: 10px;
    }
    .top-menu:hover .sub-menu{
        display: block;
    }
    .top-menu:hover .space{
        position: absolute;
        padding-top: 22px;
    }
    .space{
        height: 22px;
        position: absolute;
        width: 58px;
    }
    .nav>li{
        margin: 0px 10px;
    }
    .nav>li>a{
        font-family: 'Open Sans',sans-serif;
        color: #313131;
        line-height: 18px;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: none;
        text-decoration: none;
        text-align: left;
    }
    .nav>li>a:hover{
        color: #c5c5c5;
        background: none;
    }
    /*  //header  */

    /* main contents */
    .page_container{
        height: 100%;
        width: 80%;
        margin: 0px auto;
    }
    /* //main contents  */

    /* footer */
    .footer{
        background-color: #1e1e1e;
        padding: 23px 0px 26px 0px;
    }
    .footer_L{
        width: 380px;
        float: left;
    }
    .copyright{
        color: #444;
        line-height: 16px;
        font-family: Arial;
        font-size: 12px;
    }
    .footer_R{
        width: 563px;
        float: right;
        margin: 16px 0px 0px 0px;
    }
    .fright{
        float: right;
        margin-right: 18px;
    }
    .inp_search{
        height: 23px;
        color: #1e1e1e;
        background-color: #393939;
        width: 200px;
        border: 1px #393939 solid;
        border-radius: 3px;
        font-size: 12px;
    }
    .footer_menu{
        float: right;
        margin-top: 10px;
    }
    /* //footer */
@media (max-width: 991px) {
    /* header */
    .menu_img{
        width: 100%;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    .menu_login{
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    .menu_bar{
        width: 100%;
        float: none
    }
    .menu_bar>ul{
        width: 66%;
        float: none;
        margin: 0px auto;
    }
    /* //header */
    /* footer */
    .footer_L{
        width: 100%;
        text-align: center;
    }
    .footer_R{
        width: 100%;
    }
    .fright{
        width: 100%;
        text-align: center;
        margin-right: 0px;
    }
    .footer_menu{
        width: 100%;
        padding-left: 0px;
        float: none
    }
    .footer_menu>ul{
        width: 66%;
        float: none;
        margin: 0px auto;
    }
    /* //footer */
} 
@media (max-width: 768px) {
    .menu_bar{
        padding: 0px;
    }
    .menu_bar>ul{
        width: 348px;
        float: none;
        margin: 0px auto;
    }
    .menu_bar>ul>li{
         margin: 0px;   
    }
    .footer_menu>ul{
        width: 348px;
        float: none;
        margin: 0px auto;
    }
    .footer_menu>ul>li{
        margin: 0px; 
    }
}
@media (max-width: 360px) {
    .menu_bar>ul{
        margin-left: 0px;
    }
    .footer_menu>ul>li{
        margin-left: 8px; 
    }
}