<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
	 	<property name="url" value="jdbc:mysql://localhost:3306/mydb?serverTimezone=UTC"/> 
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/>
	    <property name="initialSize" value="10"/>
	    <property name="minIdle" value="3"/>
	    <property name="maxIdle" value="100"/>
	    <property name="maxWait" value="10000"/>
	    <property name="defaultAutoCommit" value="false" />
	    <property name="validationQuery" value="SELECT 1;"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:/mybatis/sqlMapConfig.xml"/>
		<!-- 책 176페이지 참고 -->
		<property name="mapperLocations" value="classpath:/mybatis/mappers/*.xml"/>
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	<!-- 파일전송 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <property name="maxUploadSize" value="20971520" /> <!-- 20MB -->
        <!-- max size of file in memory (in bytes) -->
        <property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->
    </bean>
	
	<!--  Qna의 메일 전송 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	 	<!-- SMTP settings -->
		<property name="host" value="smtp.gmail.com"></property>
		<property name="port" value="25"></property>
		<property name="username" value="resetbeauty"></property>
		<property name="password" value="bitcamp13"></property>
	<property name="javaMailProperties">
		<props>
			<prop key="mail.transport.protocol">smtp</prop>		
			<prop key="mail.smtp.auth">true</prop>
			<prop key="mail.smtp.starttls.enable">true</prop>
			<prop key="mail.debug">true</prop>
		</props>
		</property>
	</bean>
	  <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
    <property name="velocityProperties">
        <props>
            <prop key="resource.loader">class</prop>
            <prop key="class.resource.loader.class">
                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </prop>
        </props>
    </property>
</bean>
	
	<bean id="login_Listener" class="ga.beauty.reset.utils.runner.Login_Listener"/>
	<bean id="event_Listener" class="ga.beauty.reset.utils.runner.Event_Listener"/>
	<bean id="like_Listener" class="ga.beauty.reset.utils.runner.Like_Listener"/>
	<bean id="review_Listener" class="ga.beauty.reset.utils.runner.Review_Listener"/>
	<bean id="magzine_Listener" class="ga.beauty.reset.utils.runner.Magzine_Listener"/>
	
</beans>
