@charset "utf-8";
/* 전체 container */
.page_container {
	width: 80%;
}

.page_container a {
	color: black;
}

.page_container a:hover {
	text-decoration: none;
}

.contentsBox {
	width: 100%;
	height: 500px;
}

.ImgBox {
	width: 50%;
	float: left;
}

.ImgBox>img {
	max-width: 100%;
}

.InfoBox {
	width: 50%;
	margin: 100px 0px;
	float: left;
}

.table {
	border-top: 1px solid #e5e5e5;
}

.InfoBoxtable>tbody>tr>td {
	border: 0px;
}

.ImgBox>img {
	max-height: 400px;
	margin: 0px auto;
}

.avgBox {
	width: 95%;
	margin: 0px auto;
	border: 1px solid #e5e5e5;
}

.avgBox>p {
	margin-left: 20px;
}

.avgBox>p:first-child {
	font-size: 20px;
}

.avgBox>table>tbody>tr>td:first-child {
	width: 10%;
	text-align: center;
	font-size: 20px;
}

.bar1 {
	background-image: -webkit-linear-gradient(top, #bd0026 0, #bd0026 100%);
}

.bar2 {
	background-image: -webkit-linear-gradient(top, #f03b20 0, #f03b20 100%);
}

.bar3 {
	background-image: -webkit-linear-gradient(top, #fd8d3c 0, #fd8d3c 100%);
}

.bar4 {
	background-image: -webkit-linear-gradient(top, #fecc5c 0, #fecc5c 100%);
}

.bar5 {
	background-image: -webkit-linear-gradient(top, #fee0d2 0, #fee0d2 100%);
}

.reviewBox {
	width: 95%;
	border: 1px solid #e5e5e5;
	margin: 0px auto;
	clear: both;
}

.icon {
	text-align: center;
	margin: 5px 0px;
	clear: both;
}

.btn-color {
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5515F),
		to(#A1051D));
}

.btn-position {
	text-align: center;
	margin: 5px 0px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img_preview {
	display: none;
}

.img_preview img {
	width: 400px;
}

#cart {
	margin-left: 10px;
}

.listAddBtn {
	width: 7%;
}

.RedBtn {
	background-color: #dd2d25;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dd2d25;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    margin: 5px 5px;
    text-decoration: none;
}

.RedBtn:hover {
	color: #fff;
	background-color: #d00b01;
}

.RedBtn:active {
	position: relative;
	top: 1px;
}

.darkBtn {
	background-color: #313131;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #313131;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    margin: 5px 5px;
    text-decoration: none;
}

.darkBtn:hover {
	color: #fff;
	background-color: #313131;
}

.darkBtn:active {
	position: relative;
	top: 1px;
	color: white;
}
.btn.focus, .btn:focus, .btn:hover{
	color: #fff;
}
/* reviewBox 위치 */
.left_img_box {
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 6px 0px;
}

.right_content_box {
	width: 75%;
	float: right;
}

.right_content_box p {
	margin: 0px;
	display: inline-block;
}

.rightBox>label>img {
	width: 15px;
}

.emptyImg {
	max-width: 133px;
    width: 100%;
	margin: 24px 0px;
}

.right_content_top {
	float: right;
}

.right_content_bottom {
	margin-top: 5px;
}

.sub-title {
	color: #84868e;
}

.star {
	width: 80px;
}

.starRating1 {
	display: inline-block;
	overflow: hidden;
	width: 16px;
	margin: 0px 0px -3px 0px;
}

.starRating2 {
	display: inline-block;
	overflow: hidden;
	width: 32px;
	margin: 0px 0px -3px 0px;
}

.starRating3 {
	display: inline-block;
	overflow: hidden;
	width: 48x;
	margin: 0px 0px -3px 0px;
}

.starRating4 {
	display: inline-block;
	overflow: hidden;
	width: 64px;
	margin: 0px 0px -3px 0px;
}

.starRating5 {
	display: inline-block;
	overflow: hidden;
	width: 80px;
	margin: 0px 0px -3px 0px;
}
/* reviewBox 위치 */
/* modal */
.form-group {
	height: 70px;
}

.form-group>label {
	text-align: center;
}

.imgDiv label {
	display: inline-block;
	padding: .5em .75em;
	font-size: inherit;
	line-height: normal;
	color: #ffffff;
	vertical-align: middle;
	background-color: #313131;
	cursor: pointer;
	border: 1px solid #313131;
	border-bottom-color: #313131;
	border-radius: .25em;
}

.imgDiv input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.textbox{
	width: 100%;	
}
.form-group {
    height: 90px;
}
@media (max-width: 991px) {
	.ImgBox {
	    margin-top: 8%;
	}
}
@media (max-width: 768px) {
	.ImgBox {
	    width: 100%;
	    margin-top:0;
	}	
	.InfoBox {
	    width: 100%;
	    margin: 3px 0px;
	}
	.avgBox{
		float: left;
	}
}