@charset "utf-8";
/* 컨텐츠 contatiner */
	.page_container{
		width: 80%;
		font-family: NanumSquareR;
	}
    .page_container>a{
        text-decoration: none;
        color: black;
    }
    .page_container>a:hover{
    	text-decoration: none;
    	color: black;
    }
    .contentsbox{
        width: 85%;
        margin: 0px auto;
        display: flex;
        border-bottom: 0.5px solid rgb(217, 222, 232);
        padding: 5px 0px;
    }   
    .numbox{
        width: 30%;
	    margin: auto 0px;
	    font-size: 30pt;
	    text-align: right;
	    padding-right: 5%;
    }
    .imgbox{
        width: 30%;
        text-align: center;
        margin: auto 0px;
    }
    .imgbox>img{
   	    max-height: 160px;
  		max-width: 100%;
    }
	.conbox {
	    width: 40%;
	    margin: auto 0px;
	    padding-left: 5%;
	}
    .conbox>p{
        margin: 6px 0px;
    }
    .rankingBrand{
    	font-family: NanumSquareEB;
    	font-size: 23px;
    	color: #2e2e2e;
    }
    .rankingvol,.rankingPrice{
    	font-family: NanumSquareB;
    	font-size: 18px;
    	margin-right: 20px;
    	color: #2e2e2e;
    }
    .rankingImg{
    	width: 60px;
    }
@media (max-width: 610px) {
	.rankingvol{
    	display: block;
    }
}
@media (max-width: 360px) {
	.page_container{
		width: 100%;
	}
	.numbox{
		width: 20%;
	    text-align: center;
    }
}
