	/* 전체 container */
    .page_container{
    	width: 80%;
        border: 1px solid rgb(217, 222, 232);
    }
    .avgBox{
    	width: 95%;
    	margin: 0px auto;
   		border: 1px solid #e5e5e5;
    }
    .avgBox>table>tbody>tr>td:first-child{
    	width: 10%;
    	text-align: center;
    }
    .bar1 {
		background-image: -webkit-linear-gradient(top, #bd0026 0, #bd0026 100%);
	}
	
	.bar2 {
		background-image: -webkit-linear-gradient(top, #f03b20 0, #f03b20 100%);
	}
	
	.bar3 {
		background-image: -webkit-linear-gradient(top, #fd8d3c 0, #fd8d3c 100%);
	}
	
	.bar4 {
		background-image: -webkit-linear-gradient(top, #fecc5c 0, #fecc5c 100%);
	}
	
	.bar5 {
		background-image: -webkit-linear-gradient(top, #fee0d2 0, #fee0d2 100%);
	}
    .reviewBox{
    	width: 95%;
    	border: 1px solid #e5e5e5;
    	margin: 0px auto;
    }
    .reviewBox>img{
    	width: 100%;
    }
    .reviewBox>p{
    	display: inline-block;
    	margin: 20px 0px 0px 20px;
    }
    .reviewBox>label{
    	margin: 0px 0px 0px 20px;
    }
    .icon{
   	    text-align: center;
   	    margin: 5px 0px;
    }
   	.btn-color{
   		color: white;
   		background-image: -webkit-gradient(linear,left top,left bottom,from(#F5515F),to(#A1051D));
   	}
   	.btn-position{
   	    text-align: center;
   	    margin: 5px 0px;
   	}
   	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
	#img_preview img{
		width: 100%;
	}
	.RedBtn {
		background-color: #dd2d25;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #dd2d25;
	    display: inline-block;
	    cursor: pointer;
	    color: #ffffff;
	    font-family: Arial;
	    font-size: 15px;
	    font-weight: bold;
	    padding: 5px 14px;
	    margin: 5px 5px;
	    text-decoration: none;
	}
	
	.RedBtn:hover {
		color: #fff;
		background-color: #d00b01;
	}
	
	.RedBtn:active {
		position: relative;
		top: 1px;
	}
	
	.darkBtn {
		background-color: #313131;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #313131;
	    display: inline-block;
	    cursor: pointer;
	    color: #ffffff;
	    font-family: Arial;
	    font-size: 15px;
	    font-weight: bold;
	    padding: 5px 15px;
	    margin: 5px 5px;
	    text-decoration: none;
	}
	
	.darkBtn:hover {
		color: #fff;
		background-color: #313131;
	}
	
	.darkBtn:active {
		position: relative;
		top: 1px;
	}
	.sub-title {
		color: #84868e;
	}
	.star {
		width: 80px;
	}
	
	.starRating1 {
		display: inline-block;
		overflow: hidden;
		width: 16px;
		margin: 0px 0px -3px 0px;
	}
	
	.starRating2 {
		display: inline-block;
		overflow: hidden;
		width: 32px;
		margin: 0px 0px -3px 0px;
	}
	
	.starRating3 {
		display: inline-block;
		overflow: hidden;
		width: 48x;
		margin: 0px 0px -3px 0px;
	}
	
	.starRating4 {
		display: inline-block;
		overflow: hidden;
		width: 64px;
		margin: 0px 0px -3px 0px;
	}
	
	.starRating5 {
		display: inline-block;
		overflow: hidden;
		width: 80px;
		margin: 0px 0px -3px 0px;
	}
	.btn.focus, .btn:focus, .btn:hover{
		color: #fff;
	}
	.btimg{/* 좋아요 아이콘 */
		margin: 2% 1%;
		width: 50px;
	}
	.popDiv{
	    text-align: center;
	}
	/* modal */
	.form-group {
		height: 90px;
	}
	.form-group>label {
		text-align: center;
	}
	
	.imgDiv label {
		display: inline-block;
		padding: .5em .75em;
		font-size: inherit;
		line-height: normal;
		color: #ffffff;
		vertical-align: middle;
		background-color: #313131;
		cursor: pointer;
		border: 1px solid #313131;
		border-bottom-color: #313131;
		border-radius: .25em;
	}
	
	.imgDiv input[type="file"] { /* 파일 필드 숨기기 */
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
	.textbox{
		width:100%;
	}
	/* 댓글 스타일 */
	.com_div{
		display: inline-block;
		margin-bottom: 10px;
	}
	
	.com_nalja{
		margin-left: 85%;
	}
	.com_hr{
		width: 100%;
		margin-bottom: 1%;
	}
	.comBtn{
		float: right;
	}
	.endHr{
		clear: both;
	}	
	.box-footer{
		text-align: right;
	}
