<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companys">
	<select id="selectAll" resultType="Members_Vo">
  		SELECT * FROM COMPANYS
  	</select>
	<select id="selectOne" resultType="Members_Vo">
  		SELECT * FROM COMPANYS WHERE EMAIL =#{email}
  	</select>
	<insert id="insertone" parameterType="int">
  		INSERT INTO COMPANYS
		(`EMAIL`, `COMPANY`, `BISNUM`, 
		`MANAGER`, `POSTCODE`, `ADDRESS`, 'PHONE') 
		VALUES (#{email}, #{company}, #{bisnum}, 
		#{manager}, #{postcode}, #{address}, #{phone});
  	</insert>
  	<update id="updateOne" parameterType="int">
  		UPDATE COMPANYS
  		<trim prefix="SET" suffixOverrides=",">
			<if test="company != null">COMPANY=#{company},</if>
			<if test="bisnum != null">BISNUM=#{bisnum},</if>
			<if test="manager != null">MANAGER=#{manager},</if>
			<if test="postcode != null">POSTCODE=#{postcode},</if>
			<if test="address != null">ADDRESS=#{address},</if>
			<if test="phone != null">PHONE=#{phone},</if>
		</trim>
		WHERE EMAIL = #{beam.email}
  	</update>
</mapper>

