<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="eveAddr">
  	<select id="selectAll">
  		SELECT * FROM EVE_ADDR WHERE EVE_NO=#{eve_no}
  	</select>
  	<insert id="insertOne">
  		INSERT INTO EVE_ADDR (EMAIL,NAME,ADDRESS,PHONE,POSTCODE) VALUES (#{email},#{name},#{address},#{phone},#{postcode})
  	</insert>
  </mapper>