<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="event">
 	<select id="selectAll" resultType="Event_Vo">
  		SELECT * FROM EVENT WHERE OPEN=1 
  		<if test="com_email!=null">
		 AND COM_EMAIL=#{com_email}
		</if>
  		ORDER BY EVE_NO DESC
  	</select>
  	
<!-- 페이징 및 전체 레코드 갯수 조회 쿼리 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(*) FROM EVENT WHERE OPEN=1
  		<if test="where!=null">
		AND COM_EMAIL = #{where}
  		</if>
	</select>
	
<!-- 게시글 목록을 조회하기 위한 쿼리(일반, 공지사항)-->
	<select id="pagingList" resultType="Event_Vo" parameterType="hashmap">
		SELECT * FROM EVENT WHERE OPEN=1 ORDER BY EVE_NO DESC LIMIT #{offset}, #{noOfRecords}  <!-- offset위치부터 noOfRecords 수 만큼 select 하라! -->
	</select>
		
  	<select id="selectOne" resultType="Event_Vo">
  		SELECT * FROM EVENT WHERE EVE_NO=#{eve_no}
  	</select>
  	
  	<insert id="insertOne" parameterType="Event_Vo">
  		INSERT INTO EVENT (IMG, TITLE, CON, COM_EMAIL) VALUES (#{img},#{title},#{con},#{com_email})
  	</insert>
  	
  	<update id="updateOne" parameterType="Event_Vo">
  		UPDATE EVENT SET 
  		<if test="img!=null">
  		IMG=#{img},
  		</if>
  		TITLE=#{title},CON=#{con},COM_EMAIL=#{com_email} WHERE EVE_NO=#{eve_no}
  	</update>
  	
  	<update id="updatePop" parameterType="Event_Vo">
  		UPDATE EVENT SET POP=#{pop}	WHERE EVE_NO=#{eve_no}
  	</update>
  	
  	<update id="updateView" parameterType="Event_Vo">
  		UPDATE EVENT SET VIEW=VIEW+1 WHERE EVE_NO=#{eve_no}
  	</update>
  	<!-- 
  	<delete id="deleteOne" parameterType="Event_Vo">
  		DELETE FROM EVENT WHERE EVE_NO=#{eve_no}
  	</delete>
  	 -->
  	<update id="deleteOne" parameterType="Event_Vo">
  		UPDATE EVENT SET OPEN=0 WHERE EVE_NO=#{eve_no}
  	</update>
  </mapper>