<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="event">
  	<select id="selectAll" resultType="EventVo">
  		SELECT IMG,TITLE,CON,TAGS,NALJA,POP,VIEW FROM EVENT ORDER BY EVE_NO;
  	</select>
  	<select id="insertOne" parameterType="EventVo">
  		INSERT INTO `mydb`.`event` (`img`, `title`, `con`, `tags`) VALUES (#{img},#{title},#{con},#{tags})
  	</select>
  	<select id="updateOne" parameterType="EventVo">
  		update event set img=#{img},title=#{title},con=#{con},tags=#{tags} where eve_no=#{eve_no}
  	</select>
  	<select id="deleteOne" parameterType="int">
  		delete from event where eve_no=#{eve_no}
  	</select>
  </mapper>