<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="exp">
  	
  	<update id="expUp">
  		UPDATE MEMBERS SET EXP=EXP+${exp} WHERE EMAIL=#{email}
  	</update>
  	
  	<update id="expDown">
  		UPDATE MEMBERS SET EXP=EXP-${exp} WHERE EMAIL=#{email}
  	</update>

  </mapper>