<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="likes">
  	<select id="likes" resultType="likes_Vo">
  		SELECT * FROM LIKES WHERE TYPE=#{type} AND EMAIL=#{email} AND P_NO=#{p_no}
  	</select>
  	
  	<insert id="likesAdd" parameterType="likes_Vo">
  		INSERT INTO LIKES (email,type,p_no) VALUES(#{email},#{type},#{p_no})
  	</insert>
  	
  	<select id="likescheck" resultType="int">
  		SELECT POP FROM ${type} WHERE ${type_no}=#{p_no}
  	</select>
  	
  	<update id="likesUp">
  		UPDATE ${type} SET POP=POP+1 WHERE ${type_no}=#{p_no}
  	</update>
  	
  	<update id="likesDown">
  		UPDATE ${type} SET POP=POP-1 WHERE ${type_no}=#{p_no}
  	</update>

	<delete id="likesDel">
		DELETE FROM LIKES WHERE TYPE=#{type} AND EMAIL=#{email} AND P_NO=#{p_no}
	</delete>
  </mapper>