<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="magazine">
  	<select id="selectAll" resultType="Magazine_Vo">
  		SELECT * FROM MAGAZINE
		<where>
			<if test="cate=1">
			CATE=1
			</if>
			<if test="cate=2">
			CATE=2
			</if>
			<if test="cate=3">
			CATE=3
			</if>
			<if test="cate=4">
			CATE=4
			</if>
		</where>
		ORDER BY MAG_NO
  	</select>
  	
  	<select id="selectOne" resultType="Magazine_Vo">
  		SELECT * FROM MAGAZINE WHERE MAG_NO=#{mag_no}
  	</select>
  	
  	<insert id="insertOne" parameterType="Magazine_Vo">
  		INSERT INTO MAGAZINE (IMG,TITLE,CON,CATE,TAGS,WRITER) values (#{img},#{title},#{con},#{cate},#{tags},#{writer})
  	</insert>
  	
  	<update id="updateOne" parameterType="Magazine_Vo">
  		UPDATE MAGAZINE SET IMG=#{img},TITLE=#{title},CON=#{con},CATE=#{cate},TAGS=#{tags} WHERE MAG_NO=#{mag_no}
  	</update>
  	
  	<update id="updatePop" parameterType="Magazine_Vo">
  		UPDATE EVENT SET POP=#{pop}	WHERE MAG_NO=#{mag_no}
  	</update>
  	
  	<update id="updateView" parameterType="Magazine_Vo">
  		UPDATE EVENT SET VIEW=VIEW+1 WHERE MAG_NO=#{mag_no}
  	</update>
  	
  	<delete id="deleteOne" parameterType="Magazine_Vo">
  		DELETE FROM MAGAZINE WHERE MAG_NO=#{mag_no}
  	</delete>
  </mapper>